/* fonts styles */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-font {
    font-family: "Noto Serif", serif;
}

/* shared styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #F5F8FF;
}

.display-flex {
    display: flex;
}

:root {
    --primary-color: #E95A08;
    --secondary-color: #111111;
    --light-gray: rgba(0, 0, 0, 0.5);
}

.fixed-width {
    max-width: 1140px;
    margin: 120px auto;
}

.color-orange {
    color: var(--primary-color);
}

.section-title {
    font-size: 3.1rem;
    font-weight: bold;
}

.section-description {
    color: var(--light-gray);
    font-size: 1.3rem;
}

.btn-primary {
    background-color: var(--primary-color);
    padding: 13px;
    font-weight: 600;
    color: white;
    width: 100%;

}

/*  */















/* main styles */
/* navbar related styles */
.navbar {
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.navbar-link-container {
    gap: 48px;
    color: var(--light-gray);
}

.navbar-link-container li:first-child {
    color: #252432;
    font-weight: bold;
}

.navbar-link-container li:last-child {
    color: black;
}

.nav-link a:hover {
    color: var(--primary-color);
}


/* banner related styles */
.banner {

    justify-content: space-between;
    align-items: end;
}

.banner-content {
    width: 50%;
}

.banner-title {
    font-size: 4rem;
    color: black;
    font-weight: bold;
}

.banner-img {
    width: 100%;
}

/* plants related styles */
.plants {
    text-align: center;
}

.plants-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 30px;
    margin-top: 50px;
    justify-self: center;
}

.plants-card {
    max-width: 270px;
    width: 100%;
}

.plants-card-title,
.plants-price {
    color: var(--secondary-color);
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 8px;
}

.plants-card img {
    width: 100%;
}

/* <!-- Flower related styles--> */
.flower {
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    margin-top: clamp(50px, 10vw, 200px);
}

.flower-img-container,
.flower-content {
    width: 50%;
}

.flower-img-container {
    position: relative;
}

#badge {
    max-width: 286px;
    max-height: 286px;
    position: absolute;
    top: -22%;
    right: -20%;
    filter: drop-shadow(4px 10px 4px rgba(0, 0, 0, 0.5));
}

.flower-detail-container li {
    list-style: disc;
    margin-left: 20px;
    margin-top: 20px;
}

/* latest related styles */
.latest {
    text-align: center;
}

.latest-card-container {
    margin-top: clamp(30px, 7vw, 100px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 200px);
    gap: 10px;
    font-family: "Noto Serif", serif;
}

.latest-card2 {
    grid-column: span 2;
    grid-row: span 2;
}

.latest-card {
    position: relative;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.latest-card::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    border-radius: 20px;
}

.latest-card img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.overlay-latest-img {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    border-radius: 20px;

}

.latest-discount {
    position: absolute;
    z-index: 5;
}

.latest-card2 h4 {
    font-size: 2rem;
}

.latest-discount a {
    color: white;
    text-decoration: none;
    display: inline-block;
    margin-top: 15px;
    font-size: 1.2rem;
    position: relative;
    padding-bottom: 5px;
}

.latest-discount a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #ff9100;
    transition: width 0.4s ease;
}

.latest-discount a:hover::after {
    width: 100%;
}

.latest-discount a:hover {
    transform: translateY(-3px);
    transition: transform 0.3s ease;
}





/* responsive for small device */
@media screen and (max-width:576px) {

    .section-title {
        font-size: 2.1rem;
    }

    .section-description {
        font-size: 1rem;
    }

    .navbar,
    .plants {
        width: 95%;

    }

    .display-none {
        display: none;
    }

    /* banner related styles */
    .banner {
        flex-direction: column-reverse;
        gap: 40px;
    }

    .banner-content {
        width: 95%;
    }

    .banner-title {
        font-size: 2.4rem;
        color: black;
        font-weight: bold;
    }

    .banner-img-container {
        width: 100%;
    }

    /* plants related styles */
    .plants-container {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 40px;

    }

    .plants-card {
        max-width: 171px;
        width: 100%;
    }

    /* <!-- Flower related styles--> */
    .flower {
        flex-direction: column;
        gap: 20px;
    }

    .flower-img-container,
    .flower-content {
        width: 95%;
    }

    #badge {
        display: none;
    }

    /* latest related styles */
    .latest {
        width: 90%;
    }
    .latest-card-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 200px);
        gap: 10px;
        font-family: "Noto Serif", serif;
    }

    .latest-card2 {
        grid-column: span 1;
        grid-row: 3;
    }
    .latest-card3{
        grid-row:  2;
    }
    .latest-card1{
        grid-row:  1;
    }
    .latest-card2 h4 {
        font-size: 1rem;
    }

    

}














/* responsive for medium device */
@media screen and (min-width:576px) and (max-width:992px) {

    .section-title {
        font-size: 2.6rem;
    }

    .section-description {
        font-size: 1rem;
    }

    .fixed-width ,.latest{
        width: 90%;
    }

    /* plants related styles */
    .plants-container {
        grid-template-columns: repeat(3, 1fr);

    }

    .plants-card {
        max-width: 200px;
        width: 100%;
    }

    /* <!-- Flower related styles--> */
    .flower {
        gap: 45px;
    }

    .flower-content {
        width: 40%;
    }

    #badge {
        max-width: 200px;
        max-height: 200px;
    }


}